<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Мемори. Курс 5 - "Разработка интерфейсов: финальный проект".</title>
</head>
<body>
	<h1>Memoji</h1>
	<section>
		<div class="memoji-desc">
			<p>В игре Memoji есть колода карточек с парными изображениями. Колода раскладывается в случайном порядке рубашкой вверх. Игрок может открывать 2 карточки за один ход. Если при открытии карт образовалась «парочка», она остаётся открытой. Игра продолжается, пока не будет открыто всё поле.</p>
		</div>
		<form action="game">
			<label>
				<p>Введите количество карт:</p>
				<input type="text" name="numberOfCards" placeholder="Введите количество карт" value="12">
			</label>
			<label>
				<p>Введите время на игру:</p>
				<input type="text" name="timeOfGame" placeholder="Введите время" value="1:00">
			</label>
			<button id="memojiBtn">Играть</button>
		</form>
	</section>


	<link rel="stylesheet" href="css/style.css">
	
</body>
</html>